# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Python cache
.pytest_cache/
.mypy_cache/

# Frontend build
querymind-frontend/.next/
querymind-frontend/node_modules/
querymind-frontend/out/

# Misc
*.tmp